{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div  class="navbar navbar-expand-lg">
         <span class="ms-2 btn btn-primary" >
            <a class="nav-link"  href="{{ path('app_task', {year: year, week: week, school: 1}) }}" aria-label="{{'Schooll'| trans}}">{{'Schooll'| trans}}</a>
         </span>
         <span class="ms-2 btn btn-primary">
            <a class="nav-link " href="{{ path('app_task', {year: year, week: week, school: 0}) }}" aria-label="{{'Task'| trans}}">{{'Task'| trans}}</a>
        </span>
        <span class="ms-2 btn btn-primary">
            <a class="nav-link" href="{{ path('app_task', {year: year, week: week}) }}" aria-label="{{'All'| trans}}">{{'All'| trans}}</a>
        </span>
    </div>

{% if school is not empty %}
    <div class="">
        <a href="{{ path('app_task', {year: year, week: week - 1, school: school}) }}" aria-label="попередній тиждень"><<</a>
        <strong>{{ date }}</strong>
        <a href="{{ path('app_task', {year: year, week: week + 1, school: school}) }}" aria-label="наступний тиждень">
            >>
        </a>
    </div>
{% else %}
    <div class="">
        <a href="{{ path('app_task', {year: year, week: week - 1}) }}" aria-label="попередній тиждень"><<</a>
        <strong>{{ date }}</strong>
        <a href="{{ path('app_task', {year: year, week: week + 1}) }}" aria-label="наступний тиждень">
            >>
        </a>
    </div>
{% endif %}

<div>
    <form method="POST" >
       <table>
            {% for taskName, task in tasks %}           

                <tr>
                    <td>{{task.label}}</td>
                    <td>
                    {% if task.witness is defined and task.witness is not empty%}
                        {{ task.witness.fullName }}
                    {% endif %}
                    </td>
                    <td>
                        <select name="witnesses[{{taskName}}]" id="witnesses"
                            class="w-100 p-2 border rounded-lg">
                            
                            {% for witness in task.witnesses %}
                                <option value="{{ witness.witness_id }}"
                                    {% if witness.witness_id == task.witness.id ?? task.suggested_witness.witness_id %}
                                     selected 
                                     {% endif %}>
                                    {{ witness.fullName }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit"  class="btn btn-primary m-1">
            {{ 'Update' | trans }}
        </button>

        </form>
</div>
{% endblock %}
