{% extends 'base.html.twig' %}

{% block title %}Edit Witness{% endblock %}

{% block body %}
    <h1>Edit Witness</h1>

    {{ include('witness/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_witness_index') }}" class="btn btn-primary">back to list</a>

    {{ include('witness/_delete_form.html.twig') }}

    <a href="{{ path('app_vacation_index', {'id': witness.id} )}}"> {{ 'Vacations' | trans}}</a>
{% endblock %}
