{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Witness index{% endblock %}

{% block body %}
    <h1>Witness index</h1>
    <a href="{{ path('app_witness_new') }}" class="btn btn-primary">Create new</a>
    <div class="mt-1">
    {{ pagerfanta(witnesses) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ macros.toggleOrderParams('app_witness_index', 'id', 'ID') }}</th>
                <th>{{ macros.toggleOrderParams('app_witness_index', 'fullName', 'FullName') }}</a></th>
                <th>{{ macros.toggleOrderParams('app_witness_index', 'active', 'active') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for witness in witnesses %}
            <tr>
                <td>{{ witness.id }}</td>
                <td>{{ witness.fullName }}</td>
                <td>{{ witness.active }}</td>
                <td>
                    <a href="{{ path('app_witness_show', {'id': witness.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_witness_edit', {'id': witness.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mt-1">
        {{ pagerfanta(witnesses) }}
    </div>
{% endblock %}
